NEXT_PUBLIC_SUPABASE_URL=https://tztzvvefkvkxsvcnucui.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here

# Optional NextAuth
NEXTAUTH_URL=https://school-website-peach-zeta.vercel.app
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
